.chessgame-container {
  display: flex;
  flex-direction: row;

  align-items: center;
}
.chessgame-container h1 {
  color: #38217a;
}
.chessgame-container h2 {
  color: #38217a;
}
body {
  background-color: #d6c9ff;
}
.chessgame-left {
  display: flex;
  flex-direction: column;
}
.chessgame-left button {
  margin-top: 30px;
  font-size: 22px;
}
.chessgame-middle {
  /*   border: 1px solid black; */
  margin-right: 50px;
  margin-left: 50px;
}
.chessgame-right {
  border: 2px solid black;
  border-radius: 15px;
  padding: 15px;
}
.chessgame-left img {
  border-radius: 15px;
  width: 250px;
}
/* Ensure the chessboard scales appropriately */
.chessboard {
  width: 50vw; /* Dynamic width for responsiveness */
  height: auto; /* Maintain aspect ratio */
  max-width: 90vw; /* Limit the width for smaller screens */
  max-height: 90vh; /* Limit the height for smaller screens */
  object-fit: contain;
}
