h1,
h2,
h3,
p {
  color: #d6c9ff;
  font-family: "DM Sans", sans-serif;

  /*   text-shadow: 2px 2px 0 white,  -1px -1px 0 white,
   2px -2px 0 white,  -1px 1px 0 whit */
}
.homepage-container {
  /*  background-image: url("../media/pinkchess.png");
  background-size: cover;
  background-position: center; */
  background-color: #38217a;

  width: 100vw; /* Full viewport width */
  height: 100vh;
  top: 0;
  left: 0;

  position: absolute;
}

.homepage-container h1 {
  margin-top: 130px;
  margin-bottom: 100px;
}

.homepage-container button {
  color: #38217a;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  padding: 20px;
  font-family: "DM Sans", sans-serif;

  align-items: center;
  justify-content: center;
}
.level-btns {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}
.level-btns img {
  align-items: center;
}

a {
  font-family: "DM Sans", sans-serif;

  color: #444ded;
}
.input-username {
  padding: 15px;
  width: 170px;
  border: none;
  border-radius: 10px;
  font-family: "DM Sans", sans-serif;
  text-align: center;
}
.input-username::placeholder {
  color: #38217a;
  font-size: 17px;
}
